// Import Partials
@import 'nav-bar';
@import 'intrigue';
@import 'contact';

// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
$font-stack: 'PT Sans Narrow', sans-serif;

// Color Palette

html, body {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
}
