@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
.menu__toggle {
  padding: .55em;
  position: absolute;
  top: .25em;
  left: .5em;
  z-index: 100;
  cursor: pointer;
  color: white;
  animation: return;
  animation-duration: 0.4s; }

@-webkit-keyframes return {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@-moz-keyframes return {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@-o-keyframes return {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@keyframes return {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-180deg); } }

.menu__toggle--animate {
  animation-name: roll;
  animation-duration: 0.4s; }

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-moz-keyframes roll {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-o-keyframes roll {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes roll {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(180deg); } }

.navigator {
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
  background-color: rgba(30, 30, 30, 0.4);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7); }

.navigator--animatable {
  -webkit-transition: all 0.33s cubic-bezier(0, 0, 0.26, 1);
  -moz-transition: all 0.33s cubic-bezier(0, 0, 0.26, 1);
  -ms-transition: all 0.33s cubic-bezier(0, 0, 0.26, 1); }

.navigator--expand {
  left: 0;
  -webkit-transition: all 0.33s cubic-bezier(0, 0, 0.26, 1);
  -moz-transition: all 0.33s cubic-bezier(0, 0, 0.26, 1);
  -ms-transition: all 0.33s cubic-bezier(0, 0, 0.26, 1); }

.navigator--collapse {
  left: -102%;
  -webkit-transition: all 0.33s cubic-bezier(0.83, 0.25, 0.29, 1.36);
  -moz-transition: all 0.33s cubic-bezier(0.83, 0.25, 0.29, 1.36);
  -ms-transition: all 0.33s cubic-bezier(0.83, 0.25, 0.29, 1.36); }

.navigator__container {
  padding-left: 4em; }

.navigator__item {
  display: inline-block;
  padding: .5em .5em .5em .5em; }

.navigator__link :first-of-type {
  padding-right: 5em; }

.navigator__item:hover {
  border-bottom: 2px solid #fff; }

.navigator__link {
  color: #e1e1e1;
  text-decoration: none; }

.intrigue__container {
  width: 100%;
  height: 100%; }

.intrigue__background {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%; }

.intrigue__title {
  color: #e1e1e1;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 9em;
  top: 0.5em;
  animation-name: frontFlipReturn;
  animation-duration: 0.5s; }

.intrigue__title--flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  animation-name: frontFlip;
  animation-duration: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden; }

.intrigue__form {
  color: #e1e1e1;
  position: absolute;
  width: 24em;
  top: 6em;
  left: 50%;
  margin-left: -12em;
  animation-name: backFlipReturn;
  animation-duration: 0.5s; }

.intrigue__form--flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  animation-name: backFlip;
  animation-duration: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden; }

@-webkit-keyframes frontFlip {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; } }

@-moz-keyframes frontFlip {
  0% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; } }

@-o-keyframes frontFlip {
  0% {
    -o-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; } }

@keyframes frontFlip {
  0% {
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    transform: scaleX(-1);
    visibility: hidden; } }

@-webkit-keyframes frontFlipReturn {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; } }

@-moz-keyframes frontFlipReturn {
  0% {
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; } }

@-o-keyframes frontFlipReturn {
  0% {
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    -o-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; } }

@keyframes frontFlipReturn {
  0% {
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    transform: scaleX(1);
    visibility: visible; } }

@-webkit-keyframes backFlip {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; } }

@-moz-keyframes backFlip {
  0% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; } }

@-o-keyframes backFlip {
  0% {
    -o-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; } }

@keyframes backFlip {
  0% {
    transform: scaleX(1);
    visibility: visible; }
  30% {
    visibility: hidden; }
  100% {
    transform: scaleX(-1);
    visibility: hidden; } }

@-webkit-keyframes backFlipReturn {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; } }

@-moz-keyframes backFlipReturn {
  0% {
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; } }

@-o-keyframes backFlipReturn {
  0% {
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    -o-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible; } }

@keyframes backFlipReturn {
  0% {
    transform: scaleX(-1);
    visibility: hidden; }
  30% {
    visibility: hidden; }
  100% {
    transform: scaleX(1);
    visibility: visible; } }

.form__container {
  width: 25em;
  height: 30em;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 2px; }

.form__title {
  text-align: center;
  font-size: 3.5em;
  padding: 0;
  margin: 0; }

.form__element {
  padding: 1em;
  position: relative;
  width: 23em; }

.form__name {
  margin: 0;
  display: inline-block; }

.form__container label {
  width: 2.5em;
  padding-right: 0.5em; }

.form__container input, .form__container textarea {
  width: 12em;
  padding: 2px 8px;
  border-radius: 2px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; }

.form__container input:focus, .form__container textarea:focus {
  background: #FFF;
  border: 1px solid #39504E; }

.form__email-element {
  display: none; }

.form__email-element--invalid {
  color: #fff;
  background-color: #D6273B;
  display: inline;
  padding: 2px;
  border-radius: 2px;
  margin-left: 0.25em; }

#form__email:valid {
  border-left: 3px solid green; }

.form__element > textarea {
  height: 10em;
  width: inherit; }

.form__submit {
  float: right;
  width: auto;
  background-color: #e1e1e1;
  border: 0;
  padding: 9px 15px;
  cursor: pointer;
  cursor: hand;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

html, body {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 0;
  margin: 0; }
